@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html, body {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}
body {
  --scroll-behavior: smooth;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

  .custom-scroll-bar {
    scrollbar-width: thin;
    scrollbar-color: #de66ff #a57dbf;
  }

  /* Chrome, Edge, and Safari */
  .custom-scroll-bar::-webkit-scrollbar {
    width: 16px;
  }

  .custom-scroll-bar::-webkit-scrollbar-track {
    background: #a57dbf;
  }

  .custom-scroll-bar::-webkit-scrollbar-thumb {
    background-color: #de66ff;
    border-radius: 10px;
    border: 3px solid #1de203;
  }